
.topnav{
  background-color: #A2AAB0;
  
}
.topnav input {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
.topnav input:focus {
  width: 60%;
}
.topnav select{
  color: #273036;
  border: #fff solid 3px;
  border-radius: 20px;
  background-color: transparent;
  outline: none;
}
.topnav option{
  border-radius: 20px;
}
.topnav .fa-phone{
  color: #fff;
}
.toggler-icon {
  text-align: center;
  outline: none;
}
.nav2{

background-color: #273036 ;
 
}
.nav2 a:hover{
  color: #A2AAB0;
  text-decoration: underline;

}
.nav2 a{
  color:#f1f1f1;
  font-weight: bold;
}
.dropdown-menu{
  background-color: transparent;
  border: #A2AAB0 solid 4px ;
  border-radius: 20px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.IMG1{
  background:linear-gradient(rgba(8, 55, 77, 0.5), rgba(0, 0, 0, 0.5)),url(../imge/key1.jpeg) fixed;

  background-size: cover;
  width: 100%;
  height: 300px;

}

.imgtext{
  background-color: #273036  ;
  width: 100%;
  color: #eee;
}

.img2{
  background:linear-gradient(rgba(8, 55, 77, 0.5), rgba(0, 0, 0, 0.5)),url(../imge/ph.jfif) fixed;
 
  width: 100%;
  height: 300px;

  background-size: cover;
}


.img3{
  background:linear-gradient(rgba(0, 5, 7, 0.5), rgba(0, 0, 0, 0.5)),url(../imge/1.jp) fixed;
 
  width: 100%;
  height: 300px;

  background-size: cover;
}

.img4{
  background:linear-gradient(rgba(8, 55, 77, 0.5), rgba(0, 0, 0, 0.5)),url(../imge/real-estate-3.webp) fixed;
  width: 100%;
  height: 300px;

  background-size: cover;
}



.imge5{
  background:linear-gradient(rgba(8, 55, 77, 0.5), rgba(0, 0, 0, 0.5)),url(../imge/anotherbg3.jpg) fixed;

  width: 100%;
  height: 300px;

  background-size: cover;
}

#footer {
  background: #273036 !important;

}


.scroll-up{
  border: #A2AAB0 solid 3px;
  display: flex;

  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: transparent;
  transform: color  0.4s linear;
  transition:  0.5s all;
  transform-origin: 0 0;
  margin: 7px;
  position: relative;
  transform: scale(1.1);

  animation: btnanim 4s infinite;
}


.scroll-up::before,
.scroll-up::after{
  content: "";
  position: absolute; 
  width: 30px;
  height: 10px;
  background-color: #273036;
  transform: skewX(50deg);
  transition: .4s linear;
}
.scroll-up::before{
  top: -4px;
  left: 10px;
}

.scroll-up::after{
  bottom: -4px;
  right: 10px;
}

.scroll-up:hover::after{
  right: 80%;
}
.scroll-up:hover::before{
 left:80%;
}














.mouse_scroll-up {
	display: block;
	margin: 0 auto;
	width: 24px;
	height: 100px;
	
}


.m_scroll_arrows-up
{
  display: block;

  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
   
  border-left: 5px solid #200f3a ;
  border-top: 5px solid 	 #e43f5a;
 
  margin: 0px 0px 3px 4px;
  
  width: 20px;
  height: 20px;
}


.one
{
  margin-top: 1px;
}

.one, .to, .three
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
  
}

.one
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  
  animation-direction: alternate;
  animation-delay: alternate;
  margin-bottom: -6px;
  margin-top: 10px;
}

.to
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .2s;
  animation-direction: alternate;
  
  margin-bottom: -6px;
}

.three
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .3s;
  animation-direction: alternate;
  
  
  margin-bottom: -6px;
}









#footer h5{

 
  padding-bottom: 6px;
  margin-bottom: 20px;

}
#footer a {
  color: white;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
padding: 3px 0;
}
#footer ul.social li a i {
  margin-right: 5px;
 
-webkit-transition: .5s all ease;
-moz-transition: .5s all ease;
transition: .5s all ease;
}

#footer ul.social li a,
#footer ul.quick-links li a{
color:lightgrey;
}
#footer ul.social li a,
#footer ul.quick-links li a :hover{
color:white;
}

#footer ul.quick-links li{
padding: 3px 0;
-webkit-transition: .5s all ease;
-moz-transition: .5s all ease;
transition: .5s all ease;
}
#footer ul.quick-links li:hover{
padding: 3px 0;
margin-left:5px;
font-weight:700;
}
#footer ul.quick-links li a i{
margin-right: 5px;
}

@media (max-width:767px){
#footer h5 {
  padding-left: 0;
  border-left: transparent;
  padding-bottom: 0px;
  margin-bottom: 10px;
}

}






.wave{
  background-image: url(../imge/wave\ \(2\).svg);
  background-size: cover;
  
}



small{
  border-bottom: #273036 solid 3px;
  padding-bottom: 5px;
}

.sochial:hover{

cursor: pointer;
  transition: all 1s;
  transform: scale(1.1);
}




.open-button {
  background-color: #e43f5a;
  color: white;
  padding: 16px 20px;
  border: #dae1e7 solid 2px ;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
  outline: none;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  border-radius: 15px;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;

  background: #27496d;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background-color: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #142850;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: #A2AAB0;
}
