/** background: linear-gradient(5deg,yellow 50%,  yellowgreen 50%); **/
/* background: linear-gradient(125deg, rgb(141, 14, 173), rgb(64, 189, 14), rgb(190, 223, 4), #573E8A); */

/* arabic */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  /* font-weight: 600; */
  font-display: swap;
  src: local('Cairo Black'), local('Cairo-Black'), url(../Cairo/Cairo-Bold.ttf) format('woff2');
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
}
/* latin-ext */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  /* font-weight: 600; */
  font-display: swap;
  src: local('Cairo Black'), local('Cairo-Black'), url(../Cairo/Cairo-Black.ttf) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  /* font-weight: 600; */
  font-display: swap;
  src: local('Cairo Black'), local('Cairo-Black'), url(../Cairo/Cairo-Black.ttf) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --theme-color: #212121;
  --sections-color: #282828;
  --main-color: #C8344A;
  --box-shadow: 20px 20px 50px #000000;
  --font-color: goldenrod;
  --background-color: rgba(0, 0, 0, 0.5);
}

* {
  scroll-behavior: smooth !important;
  font-family: 'Cairo', sans-serif !important;
}

body {
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  direction: rtl;
  overflow-x: hidden;
  font-family: 'Markazi Text', serif;
  text-align: center;
  scroll-behavior: smooth !important;
  box-sizing: border-box !important;
  background-color: var(--theme-color);
  background-attachment: fixed;
}

@media (max-width:768px) {
  body {
    padding: 2px;
  }
}

/*  
 ====================================================================
                  start style navbar 
 ======================================================================
*/
.navbar {
  font-weight: bolder;
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 1s all linear;
  color: white !important;
  background-color: #2d343f !important;
  text-align: center;
  top: 0;
  padding: 10px;
  width: 100%;
  min-height: 85px;
  transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
}
 
@media (min-width:1250px){
  .navbar-dark .navbar-nav .nav-link {
font-size: 18px !important;
margin: 8px;
  }


}

@media (max-width:768px) {
  .navbar {
    margin: 0 auto !important;
  }

  .navbar-dark .navbar-nav .nav-link {
    font-size: 10px !important;
  }

  .dropdown-menu {
    font-size: 13px;
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: white !important;
  font-size: 14px;
}
  .navbar-dark .navbar-nav .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }

  .navbar .navbar-nav {
    font-family: cursive;
    margin: 0 auto;
  }

  .dropdown-menu {
    font-weight: bolder !important;
    color: white !important;
    text-align: center;
    direction: initial;
    /* border: none; */

  }

  .collapse {
    font-weight: bolder;
    /* width: 100%; */
  }

  /* item-main  */
  .navbar-nav .nav-item :hover {
    color: white;
  }

  /* item-main  */
  .navbar .nav-item {
    padding: 0px 5px 0px 0;
    /* space item*/
    margin: 3px;
  }

  @media (min-width:980px) {
    .navbar .dropdown-menu {
      padding: 2% !important;
      background-color: #2d343f !important;
      /* display: block; */
      /* visibility: hidden; */
      /* opacity: 0; */
      top: 45px;
      -webkit-transition: visibility .3s, opacity .3s;
      -o-transition: visibility .3s, opacity .3s;
      transition: visibility .3s, opacity .3s;
      z-index: 99999999;
      padding: 15px !important;
    }

    a {
      list-style: none;
      text-decoration: none !important;
      color: white !important;
    }

    /* .navbar-nav .nav-item a:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15%;
    color: white !important;
  } */

  }

  /* color background on collapse ; */
  .dropdown-menu {
    font-weight: bold;
    background-color: #56647e !important;
    color: white !important;

  }

  /* color background on collapse ; */
  .dropdown-item {
    list-style: none;
    text-decoration: none;
    color: white !important;
    background-color: none;
    display: initial;
    -webkit-transition: .1s all;
    -o-transition: .1s all;
    transition: .1s all;

  }

  .dropdown-item:hover {
    margin-right: 5px;
    color: rgb(12, 12, 12) !important;
  }

  /* class scrol navbar  */
  .ahmad {
    color: white !important;
    background-color: #27292e !important;
    position: relative;
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 200000;
    min-height: 20px !important;
  }



  /* ------------------start style nav-2 ----------------- */
  .main {
    width: 100%;
    min-height: 70px;
    margin: 0 auto;
    text-align: center;
  }

  .input-group {
    text-align: center;
    margin: 5px;
    margin-top: 20px;
    display: block;
    width: 100%;
    text-align: center;

  }

  .input-group input,
  a,
  button {
    padding: 5px;
    text-align: center;
  }

  .input-group button {
    margin-bottom: 5px;
    background-color: #21618C;
    color: rgb(255, 255, 255) !important;
    border: solid 1px white;
    border-radius: 10%;
    padding: 6px;
  }

  .input-group a {
    border: solid 1px white;
    border-radius: 10%;
    background-color: #21618C;
    color: rgb(255, 255, 255) !important;
    padding: 6px;

  }

  .input-group a:hover {
    color: rgb(12, 11, 11) !important;
    background-color: rgb(226, 197, 33);
  }

  .input-group button:hover {
    color: rgb(12, 11, 11) !important;
    background-color: rgb(226, 197, 33);
  }

  @media (max-width:400px) {
    .input-group input {
      width: 95%;
      margin-top: 4px;
      margin-bottom: 4px;
    }

    .input-group button {
      margin-top: 2px;
      background-color: #21618C !important;
      color: white !important;
    }
  }

/* The overlay effect with black background */
.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9); /* Black with a little bit see-through */
}

/* The content */
.overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
  background-color: white !important;
}

/* Close button */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}

.overlay .closebtn:hover {
  color: #ccc;
}

/* Style the search field */
.overlay input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: white;
}

.overlay input[type=text]:hover {
  background: #f1f1f1;
}

/* Style the submit button */
.overlay button {
  float: left;
  width: 20%;
  padding: 15px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.overlay button:hover {
  background: #bbb;
}



/*  
 ====================================================================
                 end  style navbar 
 ======================================================================
*/





  /* start style contact and map */

  .iframe {
    border: turquoise solid 1px;
    padding: 0;
    margin: 0;
  }
  #contact {
  border: 2px solid black;
  margin: 0 !important;
  background-color:#55a368 !important;
  
  font-family: 'Roboto', sans-serif;
  }
  
  #contact .well {
    padding: 5% 0 8% 0;
  }
  
  #contact .form-control {
    border-radius: 5%;
    border: 2px solid #1e1e1e;
  }
  
  #contact .form-control:hover {
    box-shadow: 0 0 10px #ff6f61, 0 0 20px #ff6f61, 0 10px 50px #ff6f61 !important;
    background-color: yellow;
  }
  
  #contact button {
    border-radius: 30%;
    border: 2px solid #1e1e1e;
  }
  
  #contact button:hover {
    box-shadow: 0 0 10px #ff6f61, 0 0 20px #ff6f61, 0 10px 50px #ff6f61;
    background-color: yellow;
  }
  
  
    /* end style contact and map */








/* btn slide up  */
.btn-up-css {
  background-color: rgb(13, 105, 167);
  width: 40px;
  height: 40px;
  text-decoration: none;
  position: absolute;
  position: fixed;
  z-index: 2000000000;
  top: 94%;
  left: 0%;
  right: 0;
  bottom: 0%;
  border-radius: 50%;
  padding: 0;
}
.btn-down-css {
  background-color: rgb(13, 105, 167);
  width: 40px;
  height: 40px;
  text-decoration: none;
  position: absolute;
  position: fixed;
  z-index: 2000000000;
  top: 88%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  border-radius: 50%;
}
/* btn slide up  */